body {
  margin: 0px;
       padding: 0px;
}
.boxes {
  display: table;
  width: 100%;
  height: 100%;
}
.box {
	display: block;
	text-align: center;
	vertical-align: middle;
	}
.header {
	background: #BD4932;
	line-height: 40px;
}
.main {
	background: #105B63;
	line-height: 830px;
}
.footer {
  background: #FFD34E;
  line-height: 79px;
}

iframe{
	width: 940px;
	height: 830px;
	position: absolute;
	transform: translateX(-48%);
}

@media (max-width: 860px) {
  .box {
    display: block;
    width: 100%;
  }
  iframe{
	width: 100%;
	/* [disabled]position: absolute; */
	transform: translateX(-46%);
	height: 90%;
}
}
